body {
    background-color: #D5e1ef;
    height: 100%;
    margin: 0;

}

.contenedor{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    
}

.qr-code{
    width: 320px;
    height: 500px;
    background-color: #fff;
    border-radius: 20px;
}

.qr-code img{
    width: 288px;
    border-radius: 10px;
    /* padding: 16px; */
    margin: 16px;
    margin-top: 14px;
}


.qr-code .texto{
    width: 288px;
    height: 132px;
    margin:auto;
    font-family: "Outfit" , sans-serif;

}

.qr-code .texto .parrafo1 {
    font-size: 22px;
    text-align: center;
    color: #1f314f;
    font-weight: bold;
    margin: 0%;
}

.qr-code .texto .parrafo2{
    text-align: center;
    font-size: 15px;
    font-weight: 400;
    color: #68778D;
    line-height: 20px;
    margin-bottom: 0px;
}